*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.row{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    background-color: rgb(69 180 191 / 18%);;
}
.card{
    
    width: calc(33.3333% - 20px);
    border: 5px solid rgb(113, 174, 185);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
